[submodule "origins-fabric"]
	path = origins-fabric
	url = https://github.com/apace100/origins-fabric.git
	branch = 1.21.x/dev
[submodule "apoli"]
	path = apoli
	url = https://github.com/apace100/apoli.git
	branch = 1.21.x/dev
[submodule "calio"]
	path = calio
	url = https://github.com/apace100/calio.git
	branch = 1.21.x/dev
